[submodule "irssi-config"]
	path = irssi-config
	url = https://github.com/pbrisbin/irssi-config.git
[submodule "peat"]
    path = bin/peat
    url = https://github.com/sjl/peat.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
