[submodule "irssi-config"]
	path = irssi-config
	url = https://github.com/pbrisbin/irssi-config.git
[submodule "peat"]
    path = bin/peat
    url = https://github.com/sjl/peat.git
[submodule "cabal-install-bin"]
	path = cabal-install-bin
	url = git@github.com:quchen/cabal-install-bin.git
