"*":
  "atom-ternjs": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "flatwhite-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "hack"
    invisibles: {}
    lineHeight: 1.6
    showIndentGuide: true
  "exception-reporting":
    userId: "4e7d8a34-125d-4756-3491-a8e7f0893423"
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
