'atom-text-editor':
  'cmd-l': 'pane:show-next-item'
  'cmd-h': 'pane:show-previous-item'
  'cmd-k cmd-l': 'window:focus-pane-on-right'
  'cmd-k cmd-h': 'window:focus-pane-on-left'
  'cmd-k cmd-j': 'window:focus-pane-below'
  'cmd-k cmd-k': 'window:focus-pane-above'
  'g q': 'autoflow:reflow-selection'
