snippet func
	React.PropTypes.func
snippet rpt
	${1:prop}: React.PropTypes.${2:string}
snippet cc
	var ${1:MyClass} = React.createClass({
		render: function() {
			return ${2:<div>
			</div>};
		}
	});
snippet p
	this.props.
snippet cx
	var cx = React.addons.classSet;
